.wheelsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
}
.image {
  width: 100vw;
  opacity: 0;
  animation: slideRight 0.5s 0.3s ease-in-out forwards;
}
.formContainer {
  width: 95vw;
  padding: 1em 1em;
  margin-bottom: 1px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px red;
  opacity: 0;
  animation: slideLeft 0.5s 0.3s ease-in-out forwards;
}
.formContainer > h4 {
  font-size: 15px;
}
.formContainer > select {
  width: 280px;
  max-width: 280px;
  min-width: 200px;
  height: 40px;
  max-height: 40px;
  min-height: 35px;
  border-radius: 10px;
  padding: 5px;
  font-weight: bolder;
}
.formContainer > select > option {
  font-weight: bold;
}
.formContainer > select > option:focus {
  border-color: darkred;
}
.button {
  border: none;
  background-color: darkred;
  color: white;
  font-weight: 700;
  font-size: larger;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.button:hover {
  box-shadow: 0px 0px 5px 1px white;
  background-color: darkred;
  cursor: pointer;
  border-radius: 100px;
}
.search {
  height: 25px;
  width: 25px;
}
@media only screen and (min-device-width: 830px) {
  .wheelsContainer {
    flex-direction: row;
  }

  .formContainer {
    position: relative;
    width: 40%;
    max-width: 500px;
    right: 32%;
    bottom: 10%;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    max-width: 2000px;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
