html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes loading {
  from {
    opacity: 0;
    transform: rotateY(100deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes loading2 {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes loading3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
