.footerContainer {
  width: 100vw;
  background-color: darkred;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  border-top: 2px solid red;
}

.footerContainer > p {
  color: white;
}

.header_logo:hover {
  cursor: pointer;
}
