.galleryContainer {
  padding-top: 20vh;
}
.galleryHead {
  height: 70vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100vw;
  opacity: 0;
  animation: slideLeft 0.5s 0.3s ease-in-out forwards;
}
.headText {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  z-index: 10;
  width: 95%;
  max-width: 600px;
  padding: 1em;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px red;
  opacity: 0;
  animation: slideRight 0.5s 0.3s ease-in-out forwards;
}

.headText > p {
  font-size: 1em;
}
.headText > h1 {
  font-size: 3.5em;
  font-weight: 400;
}
.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  margin: 1.5em;
  width: max-content;
  height: max-content;
  box-shadow: 0px 8px 20px -12px black;
}
.itemImage {
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}
.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkred;
}
.icons:hover {
  color: red;
  cursor: pointer;
}
.bottomSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  border: none;
  background-color: darkred;
  color: white;
  font-weight: 700;
  font-size: larger;
  height: auto;
  width: auto;
  padding: 1em;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.button:hover {
  box-shadow: 0px 0px 5px 1px black;
  background-color: red;
  cursor: pointer;
  border-radius: 100px;
}
@media only screen and (min-device-width: 690px) {
  .galleryHead {
    padding-top: 10em;
  }
  .image {
    position: absolute;
    z-index: 1;
  }
  .headText {
    position: relative;
    width: 30%;
    height: auto;
    right: 32%;
    bottom: 10%;
  }
}
@media only screen and (min-device-width: 1300px) {
  /* above cellphones */

  .galleryHead {
    padding-top: 10em;
    height: 100vh;
  }
  .image {
    position: absolute;
    z-index: 1;
  }
  .headText {
    position: relative;
    width: 30%;
    height: auto;
    right: 32%;
    bottom: 10%;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
