.topSection {
  margin-top: 5rem;
  height: 70vh;
}

.subHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.image {
  width: 100vw;
  object-fit: contain;
  opacity: 0;
  animation: slideLeft 0.5s 0.3s ease-in-out forwards;
}
.text {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  margin: auto;
  max-width: 40em;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px red;
  opacity: 0;
  animation: slideRight 0.5s 0.3s ease-in-out forwards;
}
.text > p {
  font-size: large;
}
.text > h1 {
  font-size: xx-large;
}
.button {
  border: none;
  background-color: darkred;
  color: white;
  font-weight: 700;
  font-size: larger;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  box-shadow: 0px 0px 5px 1px white;
  background-color: red;
  cursor: pointer;
  border-radius: 100px;
}

.arrow {
  height: 25px;
  width: 25px;
}
@media only screen and (min-device-width: 830px) {
  .subHead {
    flex-direction: column;
  }
  .topSection {
    margin-top: 8rem;
    height: 70vh;
  }

  .image {
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    opacity: 0;
    animation: slideLeft 0.5s 0.3s ease-in-out forwards;
  }

  .text {
    right: 25%;
    bottom: 10em;
    position: relative;
    z-index: 10;
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
