.partsListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topSection {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.midSection {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 90vw;
  min-width: 60vw;
}
